argparse==1.2.1
certifi==2018.11.29
chardet==3.0.4
comet-git-pure==0.19.9
comet-ml==1.0.44
configobj==5.0.6
cython==0.29.2
everett==0.9
functools32==3.2.3.post2
idna==2.8
jsonschema==2.6.0
logging==0.4.9.6
netifaces==0.10.9
numpy==1.15.4
nvidia-ml-py3==7.352.0
pip==19.0.1
requests==2.21.0
setuptools==40.6.3
six==1.12.0
torch==1.0.0
urllib3==1.24.1
websocket-client==0.54.0
wheel==0.32.3
wsgiref==0.1.2
wurlitzer==1.0.2
